body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
.nav-wrapper {
    background-color: #FAEBD7;
}

.card-image {
    opacity: 88%;

}

#restaurant-card{
    height: 500px;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding-bottom: 5px;
}

nav .brand-logo {
    font-family: 'Volkhov', serif;
}

#mobile-links, #side-links {
    font-family: 'Sen', sans-serif;
}

/* Jumbotron */
#jumbotron-title {
    font-size: 60px !important;
    font-weight: bold !important;
    margin-bottom: 400px;
}

.card-image {
    opacity: 88%;

}

/* Mood Dropdown */
#emotion-choice {
    text-align: center;
    font-size: x-large;
}

#emotion-dropdown, #mood-dropdown {
    font-family: 'Sen', sans-serif;
}

#hidden-div {
    font-family: 'Pacifico', cursive;
    font-size: larger;
}

/* Footer */
.page-footer {
    background-color: #FAEBD7;
    margin-top: auto;
}   

#footer-text {
    font-family: 'Sen', sans-serif;
}

#contact-icons {
    color: black;
    margin: 2px;
}

/* Media Query */
@media (min-width:300px) {
    .card-image {
        width:100%;
        height:40%;
        margin:0 auto;
    }

    #hero-container {
        margin: 0 auto;
        width: 100%;
        height: 40%;
    }
    
    #jumbotron-title {
        font-size: x-large !important;
        margin-bottom: 20%;
        font-weight: bold !important;   
    }
        
    #mood-dropdown {
        width: 100% !important;
        margin: 0 auto;
        height: 60px;
        font-size: large;
        font-weight: bold;  
        padding: 10px;  
    }
        
    #dropdown-wrapper {
        width: 100%;
    }

        
    #hero-container {
        margin: 0 auto;
        width: 100%;
        height: 40%;
    }

    #jumbotron-title {
        font-size: x-large !important;
        margin-bottom: 20%;
        font-weight: bold !important;
    }        

}

@media (min-width:500px){
    #jumbotron-title {
        font-size: x-large !important;
        margin:auto 40px 25% 40px;
        font-weight: bold !important;  
    }
}

@media (min-width:700px){
    .card-image {
        height: auto;
    }
    
    #hero-container {
        margin-top: 0 auto ;
        width: 100%;
    }

    #jumbotron-title {
        font-size: 40px !important;
        font-weight: bold !important;
        margin: 0 35px 100px 35px;
    }
}

@media (min-width:900px){
    #jumbotron-title {
        font-size: 40px !important;
        font-weight: bold !important;
        margin: 0 50px 200px 50px;
    }

    #hero-container {
        margin: auto ;
        width: 900px;
    }

    #dropdown-wrapper {
        width: 500px;
    }
}
      